{{ $url := .Get 0 }}

{{ $jsonData := getJSON $.Page.Site.Params.OgpApiEndpoint $url }}
{{ $siteName := $jsonData.siteName }}
{{ $title := $jsonData.title }}
{{ $description := $jsonData.description }}
{{ $image := $jsonData.image }}
{{ $urlInfo := urls.Parse $url }}
{{ $host := printf "%s" $urlInfo.Host }}
{{ $prefix := "https://www.google.com/s2/favicons?domain=" }}
{{ $favicon := printf "%s%s" $prefix $urlInfo.Host }}

<div class="box">
    <a class="box-content" target="_blank" rel="noopener" href="{{ $url }}">
        <div class="box-content">
            <div class="box-left">
                <h2 class="box-title">{{ $title }}</h2>
                <div class="box-description">{{ $description }}</div>
                <div class="box-host">{{ $host }}</div>
            </div>
            <div class="box-image-container" style="background-image: url('{{ $image }}');" ></div>
        </div>
    </a>
</div>
